body {
    background-color: rgb(245, 245, 245);
}

@media (min-width: 1024px) {
    .ajusteHome {
        height: calc(100vh - 64px);
    }
}
.puntero {
    width: 28px;
    position: relative;
    top: -42.92px;
    left: -14px;
}